@using Educo.Parking.Shell.Web.Models;
@using Educo.Parking.Shell.Web.Extensions;

@{
    Layout = "Layout";
    ViewData["Title"] = "Register";
}

@model ExternalLoginViewModel

<div class="background-container">
    <div class="row">
        <div class="form-card-contents col s12 m12 l9">
            <div class="card blue-grey lighten-5">
                <div class="card-content center-align">
                    <div class="row valign-wrapper">
                        <div class="col s12 m12 l12">
                            <h4 class="red-text">Свяжите свою учетную запись @ViewData["LoginProvider"].</h4>
                            <hr />
                            <p class="text-info left-align grey-text">
                                Вы успешно прошли аутентификацию с помощью <strong>@ViewData["LoginProvider"]</strong>.
                                Нажмите кнопку «Регистрация», чтобы закончить вход в систему.
                            </p>
                        </div>
                    </div>
                    <div class="login-form">
                        <form asp-action="ExternalLoginConfirmation" asp-controller="Account" method="post">
                            <div class="input-field col s12">
                                <input type="email" asp-for="Email" class="validate" />
                                <label asp-for="Email"></label>
                                <span asp-validation-for="Email" class="helper-text"></span>
                            </div>
                            <div class="input-field col s12">
                                <button type="submit" class="waves-effect waves-light btn">Регистрация</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @if (@ViewData.GetModelStateErrors(Json).HasErrors)
    {
        <script>
            (function () {
                let mass =  @ViewData.GetModelStateErrors(Json).Errors;
                showMessageError(mass);
            })();
        </script>
    }
}